<ul class="nav">
    <a id="logo" class="nav-link" href="/">
        <img  src="/images/logo1.png" width="40" height="32"><span></span>  RYA</a>
    </a>
    <li class="nav-item">
        <a class="nav-link" href="/myAccount">My Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/market">Market Place</a>
    </li>
</ul>

