<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
<div class="nav-container">
    <% include partials/nav%>
</div>

<footer>
</footer>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script src="/javascripts/javascript.js" ></script>
</body>
</html>
