<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
<div class="nav-container">
    <% include partials/nav%>
</div>
<div class="asset-container">
    <iframe src="https://www.google.com/maps/d/embed?mid=1WfOnh02Klo9kqx6JWaG-PKrdfc6zAjbD" width="640" height="480"></iframe>
</div>

<footer>
</footer>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script src="/javascripts/javascript.js" ></script>
</body>
</html>
