<html lang="en">
<head>
  <% include partials/header %>
</head>

<body>
<div class="nav-container">
    <ul class="nav">
        <a id="logo" class="nav-link" href="/">
        <img src="/images/logo1.png" width="40" height="32"> RYA</a>
    </ul>
</div>
<div class="container">
    <div class="tabContainer mb-2">
        <ul class="nav nav-tabs" id="createlisting-tab" role="tablist">
            <li class="nav-item" style="width:  50%">
                <a class="nav-link active" id="listing-tab" data-toggle="tab" href="#listing" role="tab" aria-controls="listing" aria-selected="true" style="color: #000000;">Listing</a>
            </li>
            <li class="nav-item" style="width:  50%">
                <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false" style="color: #000000;">Request</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="createlisting-tabContent">
        <div class="tab-pane fade show active" id="listing" role="tabpanel" aria-labelledby="listing-tab">
            <form method="post" action="/createListing">
                <div class="form-group">
                    <label for="productTitle__listing">Title of Product</label>
                    <input type="text" class="form-control" id="productTitle__listing" aria-describedby="emailHelp" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Description of the title">
                </div>
                <div class="form-group">
                    <label for="pricep">Price Per day</label>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="pricep">
                        <p>Value: <span id="value"></span></p>
                    </div>
                    <div id="alert__listing" class="alert alert-info d-none" role="alert">
                        The recommended price for a <strong><span id="productPriceRecommend__listing"></span></strong> is usually <strong>$78.30</strong>
                    </div>
                    <script>
                        var slider = document.getElementById("pricep");
                        var output = document.getElementById("value");
                        var productPriceRecommend = document.getElementById("productPriceRecommend__listing");
                        var alert = document.getElementById("alert__listing");
                        var prodTitle = document.getElementById("productTitle__listing");
                        output.innerHTML = slider.value;

                        slider.oninput = function () {
                            output.innerHTML = this.value;
                            if (!(prodTitle.value === '')) {
                                productPriceRecommend.innerHTML = prodTitle.value;
                                alert.classList.remove("d-none");
                            }
                        }
                    </script>
                </div>
                <div class="form-group">
                    <select class="custom-select custom-select-lg mb-3">
                        <option selected>Categories</option>
                        <option value="1">Tools</option>
                        <option value="2">Kitchen</option>
                        <option value="3">Vehicle</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="d-inline-block w-100" for="datepickerFrom">From:
                        <input id="datepickerFrom" width="100%" height="37px"/>
                    </label>
                    <label class="d-inline-block w-100" for="datepickerTo">To:
                        <input id="datepickerTo" width="100%"/>
                    </label>
                    <script>
                        $('#datepickerFrom').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                        $('#datepickerTo').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="featureMarketPlace__listing">
                    <label class="form-check-label" for="featureMarketPlace__listing">Feature on marketplace</label>
                </div>
                <button type="submit" name="buttonType" value="listing" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
            <form method="post" action="/createListing">
                <div class="form-group">
                    <label for="productTitle__request">Title of Product</label>
                    <input type="email" class="form-control" id="productTitle__request" aria-describedby="emailHelp" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Description of the title">
                </div>
                <label for="exampleInputPassword1">Price Per day</label>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange1">
                    <p>Value: <span id="value1"></span></p>
                </div>
                <div id="alert__request" class="alert alert-info d-none" role="alert">
                    The recommended price for a <strong><span id="productPriceRecommend__request"></span></strong> is usually <strong>$50.00</strong>
                </div>
                <script>
                    var slider1 = document.getElementById("myRange1");
                    var output1 = document.getElementById("value1");
                    var productPriceRecommend1 = document.getElementById("productPriceRecommend__request");
                    var alert1 = document.getElementById("alert__request");
                    var prodTitle1 = document.getElementById("productTitle__request");

                    output1.innerHTML = slider1.value;

                    slider1.oninput = function () {
                        output1.innerHTML = this.value;
                        if (!(prodTitle1.value === '')) {
                            productPriceRecommend1.innerHTML = prodTitle1.value;
                            alert1.classList.remove("d-none");
                        }
                    };
                    </script>
                <select class="custom-select custom-select-lg mb-3">
                    <option selected>Categories</option>
                    <option value="1">Tools</option>
                    <option value="2">Kitchen</option>
                    <option value="3">Vehicle</option>
                </select>
                <label class="d-inline-block w-100" for="datepickerFrom1">From:
                    <input id="datepickerFrom1" width="100%" height="37px"/>
                </label>
                <label class="d-inline-block w-100" for="datepickerTo1">To:
            <input id="datepickerTo1" width="100%"/>
        </label>
        <script>
            $('#datepickerFrom1').datepicker({
                uiLibrary: 'bootstrap4'
            });
            $('#datepickerTo1').datepicker({
                uiLibrary: 'bootstrap4'
            });
        </script>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="featureMarketPlace__request">
            <label class="form-check-label" for="featureMarketPlace__request">Feature on marketplace</label>
        </div>
        <button type="submit"  name="buttonType" value="request" class="btn btn-primary">Submit</button>
    </form>
</div>
<% include partials/chatbot %>
</body>
</html>
