<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
</head>

<body>

<div class="container">
    <div class="nav-container">
        <ul class="nav">
            <a id="logo" class="nav-link" href="/">
                <img src="/images/logo1.png" width="40" height="32"><span></span> RYA</a>
            </a>

        </ul>

    </div>
    <div class="tabContainer">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" style="width:  50%">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true" style="color: #000000;">Listing</a>
            </li>
            <li class="nav-item" style="width:  50%">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false" style="color: #000000;">Request</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Title of Product</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input type="email" class="form-control" id="exampleInputPassword1"
                           placeholder="Description of the title">
                </div>
                <label for="exampleInputPassword1">Price Per day</label>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <p>Value: <span id="demo"></span></p>
                </div>

                <script>
                    var slider = document.getElementById("myRange");
                    var output = document.getElementById("demo");
                    output.innerHTML = slider.value;

                    slider.oninput = function () {
                        output.innerHTML = this.value;
                    }
                </script>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Tools</a>
                        <a class="dropdown-item" href="#">Kitchen</a>
                        <a class="dropdown-item" href="#">Vehicle</a>
                    </div>
                </div>


                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Feature on marketplace</label>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form>
              <div class="form-group">
                  <label for="exampleInputEmail1">Title of Product</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                         placeholder="Enter Title">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <input type="email" class="form-control" id="exampleInputPassword1"
                         placeholder="Description of the title">
              </div>
              <label for="exampleInputPassword1">Price Per day</label>
              <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  <p>Value: <span id="demo"></span></p>
              </div>

              <script>
                  var slider = document.getElementById("myRange");
                  var output = document.getElementById("demo");
                  output.innerHTML = slider.value;

                  slider.oninput = function () {
                      output.innerHTML = this.value;
                  }
              </script>

              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Tools</a>
                      <a class="dropdown-item" href="#">Kitchen</a>
                      <a class="dropdown-item" href="#">Vehicle</a>
                  </div>
              </div>


              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Feature on marketplace</label>

              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>


    </div>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
<script src="/javascripts/javascript.js"></script>
</body>

</html>
