<!-- views/pages/market.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header%>
</head>
<body>
<div class="nav-container">
    <% include partials/nav%>
</div>
<div class="container" style="padding-top: 95px">
    <div class="topnav">
        <div class="topnav-left">
            <h5>Sort By</h5>
        </div>
        <select class="custom-select custom-select-lg">
            <option selected>Category</option>
            <option value="1">Tools</option>
            <option value="2">Kitchen</option>
            <option value="3">Vehicle</option>
        </select>
        <input type="text" placeholder="Search..">
    </div>
<div class="container-fluid ">
    <div class="row">
        <% for(i = 0; i < data.length; i++){ %>
        <div class="col-mb align-self-center">
            <div class="card" style="width: 19rem;">
                <img class="card-img-top" src="//placehold.it/500x500" alt="Card image cap">
                <div class="card-body">
                    <%if(data[i].type == "listing"){%>
                    <h5 class="card-title">[LISTING] <%=data[i].title%></h5>
                    <%}else if(data[i].type == "request"){%>
                    <h5 class="card-title">[REQUEST] <%=data[i].title%></h5>
                    <%}%>
                    <p class="card-text"><%=data[i].description%></p>
                    <form method="post" action="/listing">
                        <button type="submit" name="buttonType" value="<%=data[i].title%>" class="btn btn-primary">More Info</button>
                    </form>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</div>
</div>

<footer>
</footer>
<% include partials/chatbot %>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</body>
</html>
